*{
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}
body{
    background-image: url(img/ijh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}