*{
    padding: 0px;
    margin: 0px;
    font-family: cursive;

.navbar{
    justify-content: space-between !important;
    font-size: 20px;
    letter-spacing: 0.05rem;
    
}
.navbar-light .navbar-nav .nav-link{
color: #fff;
padding-left: 50px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #f9004d;
    transition: 0.3s;
}
.navbar-light a{
    color: #fff;
    padding: 20px;
}
.text{
    position: absolute;
    top: 50%;
    left: 8%;
    width: 50%;
}
.navbar.navbar-toggler{
    color: #fff;
}
button{
    background-color: rgb(134, 157, 209);
    color: white;
    text-decoration: none;
    border: spx solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 15px;
    transition: 2s;
    margin-top: 10px;
}
button:hover{
background-color: transparent;
border: 2px solid #f9004d ;
 cursor: pointer;
}
.img{
    align-items: right;
}