*{
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}
body{
    background-image: url(img/ijh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    color: black;

}
nav ul li a:hover{
    color: red;
    transition: .5s;
}
.text{
    position: absolute;
    top: 30%;
    left: 8%;
}
h1{
    margin: 2px 0px 2px;
    font-size: 75px;
}
h3{
    font-size: 25px;
    margin-bottom: 25px;
}
h4{
    
    letter-spacing: 1px;
    font-size: 20px;
}